<section id="category">
    <div class="container g-3">
        <div class="row">
            <div class="col-md-6 col-12 mb-3 mb-md-0">
                <div class="d-flex align-items-center h-100">
                    {{{renderTitleCategory types path}}}
                </div>
            </div>
            <div class="col-md-6 col-12">
                    <div class="d-flex align-items-center">
                        <div class="swiper-prev me-3"><i class="bi bi-chevron-double-left"></i></div>
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide w-auto d-flex align-items-center"><a href="/app" class="mb-0 category-link">Tất cả</a></div>
                                <div class="swiper-slide w-auto d-flex align-items-center"><a href="/of-mac-m1" class="mb-0 category-link">App cho MacM1</a></div>
                                <div class="swiper-slide w-auto d-flex align-items-center"><a href="/office" class="mb-0 category-link">Văn phòng</a></div>
                                <div class="swiper-slide w-auto d-flex align-items-center"><a href="/graphics" class="mb-0 category-link">Đồ họa</a></div>
                                <div class="swiper-slide w-auto d-flex align-items-center"><a href="/filmmaking" class="mb-0 category-link">Dựng phim</a></div>
                                <div class="swiper-slide w-auto d-flex align-items-center"><a href="/dev" class="mb-0 category-link">Developer</a></div>
                                <div class="swiper-slide w-auto d-flex align-items-center"><a href="/relax" class="mb-0 category-link">Giải trí</a></div>
                                <div class="swiper-slide w-auto d-flex align-items-center"><a href="/game" class="mb-0 category-link">Game</a></div>
                            </div>
                        </div>
                        <div class="swiper-next ms-3"><i class="bi bi-chevron-double-right"></i></div>
                    </div>
                {{!-- {{{renderSwiperCategory pathname}}} --}}
            </div>
            <div class="col-12">
                <div class="apps-list shadow mt-5">
                    <div class="row gx-md-3 g-2 p-lg-4 p-2 pt-0">
                        {{{renderAppItem app}}}
                    </div>

                    <div class="pagination-more d-flex align-items-center justify-content-end me-4 py-3">
                        {{{paginationHandle currentPage pages pagination.showPercent}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var swiper = new Swiper('#category .swiper', {
        speed: 800,
        slidesPerView: "auto",
        spaceBetween: 20,
        navigation: {
            nextEl: '#category .swiper-next',
            prevEl: '#category .swiper-prev',
        },
    });

    document.addEventListener('DOMContentLoaded', function () {
        var link = document.querySelectorAll('#category .category-link')
        console.log(link)
        link.forEach(element => {
            if(element.pathname == window.location.pathname) {
                element.closest('.category-link').classList.add('active')
                return
            }
        })
    })
</script>