<section class=''>
    <div class='container g-3'>

        <div class='d-inline-block'>
            <div class='mb-4' style='max-width: 400px;'>
                <span class='h2 topic-title'>Bạn đã truy cập vào 1 URL ko tồn
                    tại hoặc đã xảy ra lỗi.</span>
                <span>Liên hệ với ammin
                    <a href='https://www.facebook.com/ltlan'>tại đây</a></span>
            </div>

        </div>
        <img
            class='d-inline-block'
            src='/img/404.png'
            style='width: 100%;max-width: 400px;'
        />

    </div>
</section>